# 3.B. Pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Series
x = pd.Series([1,2,3,4,5])

In [3]:
x+100

0    101
1    102
2    103
3    104
4    105
dtype: int64

In [4]:
(x**2)+100

0    101
1    104
2    109
3    116
4    125
dtype: int64

In [5]:
x>2

0    False
1    False
2     True
3     True
4     True
dtype: bool

We can do all mathematical operations directly with series, for list we have to write a loop.

In [8]:
# any and all
larger_than_2 = x>2

print(larger_than_2.any()) # if any value in larger_than_2 is true
print(larger_than_2.all()) # if all value in larger_than_2 is true

True
False

In [11]:
# apply
def f(x):
    if x%2==0:
        return x**2
    else:
        return x**3

In [12]:
x

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
x.apply(f)

0      1
1      4
2     27
3     16
4    125
dtype: int64

In [14]:
# converting dtypes
x.astype(np.float64)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [17]:
# copy
x
y = x
y[0] = 100
print(x)
y

0    100
1      2
2      3
3      4
4      5
dtype: int64

0    100
1      2
2      3
3      4
4      5
dtype: int64

We see both `x` and `y` 1st element changed to 100. To prevent the original `x` from changing we need to use copy

In [18]:
x = pd.Series([1,2,3,4,5])
y = x.copy()
y[0] = 100
print(x)
y

0    1
1    2
2    3
3    4
4    5
dtype: int64

0    100
1      2
2      3
3      4
4      5
dtype: int64

After copying `x`, we see changing `y` does NOT lead to change of `x`

In [20]:
# DataFrame

data = [1,2,3,4,5,6,7,8,9]
df = pd.DataFrame(data, columns=['x'])
df

   x
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [21]:
# 1 column leads to series: series has only 1 column
dataseries = df['x']

In [25]:
# adding more columns
df['x_plus_2'] = df['x']+2
df['x_square'] = df['x']**2
df['x_factorial'] = df['x'].apply(np.math.factorial)
df.head()

   x  x_plus_2  x_square  x_factorial
0  1         3         1            1
1  2         4         4            2
2  3         5         9            6
3  4         6        16           24
4  5         7        25          120

In [27]:
df['is_even'] = df['x']%2
df

   x  x_plus_2  x_square  x_factorial  is_even
0  1         3         1            1        1
1  2         4         4            2        0
2  3         5         9            6        1
3  4         6        16           24        0
4  5         7        25          120        1

In [28]:
# dropping or deleting 1 column
df = df.drop('is_even',1) # 1 means only 1 column will be deleted here 
df

   x  x_plus_2  x_square  x_factorial
0  1         3         1            1
1  2         4         4            2
2  3         5         9            6
3  4         6        16           24
4  5         7        25          120
5  6         8        36          720
6  7         9        49         5040
7  8        10        64        40320
8  9        11        81       362880

In [30]:
# Selecting multiple columns
df[['x', 'x_square']].head()

   x  x_square
0  1         1
1  2         4
2  3         9
3  4        16
4  5        25

In [31]:
# describing
df.describe() # gives statistics of the dataframe

              x   x_plus_2   x_square    x_factorial
count  9.000000   9.000000   9.000000       9.000000
mean   5.000000   7.000000  31.666667   45457.000000
std    2.738613   2.738613  28.080242  119758.341137
min    1.000000   3.000000   1.000000       1.000000
25%    3.000000   5.000000   9.000000       6.000000
50%    5.000000   7.000000  25.000000     120.000000
75%    7.000000   9.000000  49.000000    5040.000000
max    9.000000  11.000000  81.000000  362880.000000